openapi: 3.0.0
info:
  title: FlairWarsAPI
  version: '1.0'
  contact:
    name: BlastoGypsy
    email: blastogypsy@gmail.com
  description: An API for FlairWars bots!
servers:
  - url: 'https://api.flairwars.com'
paths:
  /users:
    get:
      summary: GET /users
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/user'
      operationId: get-users
      parameters:
        - schema:
            type: string
          in: query
          name: RedditUsername
          description: Query with a user's Reddit username
        - schema:
            type: string
          in: query
          name: FlairwarsColor
          description: Query with a user's Flairwars Color
        - schema:
            type: string
          in: query
          name: DiscordMemberID
          description: Query with a user's Discord ID
      description: Retrieve user information
    post:
      summary: POST /users
      operationId: post-users
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: 'Conflict: User exists'
        '500':
          description: 'Internal Server Error: Database Communication Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                DiscordMemberID:
                  type: string
                FlairwarsColor:
                  type: string
                RedditUsername:
                  type: string
              required:
                - DiscordMemberID
      description: Create a new user
      tags:
        - User
      parameters: []
      security:
        - Authorization: []
  '/users/id/{DiscordID}':
    parameters:
      - schema:
          type: string
        name: DiscordID
        in: path
        required: true
        description: User's Discord ID
    put:
      summary: ''
      operationId: put-users-id-DiscordID
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: Update a user's Flairwars Color and Reddit Username
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RedditUsername:
                  type: string
                FlairwarsColor:
                  type: string
      tags:
        - User
      security:
        - Authorization: []
  /application:
    post:
      summary: ''
      operationId: post-api_auth
      responses:
        '201':
          description: Application Secret
        '400':
          description: 'Bad Request: Incomplete body'
        '409':
          description: 'Conflict: App with name already exists'
      description: Register your application
      tags:
        - Application
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ApplicationName:
                  type: string
              required:
                - ApplicationName
        description: Send your application name. This will be used to log your application's request and manage your application's permissions.
    parameters: []
  '/application/{AppName}':
    parameters:
      - schema:
          type: string
        name: AppName
        in: path
        required: true
    put:
      summary: ''
      operationId: put-api_auth-AppName
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      tags:
        - Application
      description: Grant an application additional permissions
      parameters:
        - schema:
            type: string
          in: query
          name: action
          description: The action you are performing (either add or remove)
          required: true
      security:
        - Authorization: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Permissions:
                  type: string
components:
  schemas:
    user:
      title: User
      type: object
      description: User data pulled from the database
      x-examples:
        Example:
          DiscordMemberID: '000000000000000000'
          Color: red
          RedditName: username
      properties:
        DiscordMemberID:
          type: string
        FlairwarsColor:
          type: string
        RedditUsername:
          type: string
      required:
        - DiscordMemberID
  securitySchemes:
    Authorization:
      name: authorization
      type: apiKey
      in: header
tags:
  - name: User
  - name: Application
